 nav {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
  background-color: #3f3e3e;
  overflow: hidden;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-div {
  color: #d0a8ca;
  font-weight: bold;
  font-size:2em;
  margin-left: 0.5em;
}

.logo {
  width: 6em;
  height: 6em;
  filter: drop-shadow(0px 100px 0 #d0a8ca);
  transform: translateY(-100px);
  background-repeat: no-repeat;
}

.entry {
  width: 20em;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  position: relative;
  margin-top: 1em;
}

.entry-image {
    float: left;
    width:  19em;
    height: 22em;
    object-fit: cover;
    border-radius: 0.3em;
    border:0.3em solid #030202;
}

.entry-location-details {
  display: flex;
  font-size: 1em;
  color: #3f3e3e;
  font-weight: bold;
}

.entry-timerange {
  margin-left: 1em;
}

.entry-title {
  color:#3f3e3e;
  font-weight: bold;
}

.entry-description {
  display: flex;
  align-items: center;
  margin-top: 1em;
  color:#3f3e3e;
}

.entry-pin {
  width: 1em;
  height: 1em;
}

.entries-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 2em;
  overflow-x: auto;
}
